@import 'reset';

$primaryColor: #FF9900;
$fontSize: 20px;

body {
    background: #EEEEEE;
    font-family:Gotham;
    text-align: center;
    }
    
    form {
      background: #FFFFFF;
      width: 350px;
      text-align: center;
      margin: 30px auto;
      box-shadow: 4px 4px 5px #999999;
      padding-bottom: 40px;
      border-radius: 10px;
    }
    h1 {
      height: 40px;
      width: 350px;
      font-size: $fontSize;
      background-color:$primaryColor;
      color:white;
      padding: 15px 0 0 0;
      border-radius: 10px 10px 0 0;
    }
    
    
    input {
      margin: 20px 0px;
      width: 300px;
      border: none;
      padding: 5px 0;
      border-bottom: solid 1px $primaryColor;
      color: $primaryColor;
    }
    
    button {
      border: solid;
      border-color: $primaryColor; 
      background-color: white;
      color: $primaryColor;
      height: 40px;
      width: 150px;
      font-size: $fontSize;
      border-radius: 5vh;
      
    }
    
    button:hover {
      background-color: $primaryColor;
      color: white;
    }